In [1]:
# Importing module

import numpy as np    # mathamatical expression
import pandas as pd   # processing dataframe

In [2]:
# loading the data set

df= pd.read_csv('Earthquakes.csv')  # file has loaded
df   # Display entire dataset

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [3]:
# checking top ten rows
df.head(10)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
5,01/10/1965,13:36:32,-13.405,166.629,Earthquake,35.0,NaN,NaN,6.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860922,ISCGEM,ISCGEM,ISCGEM,Automatic
6,01/12/1965,13:32:25,27.357,87.867,Earthquake,20.0,NaN,NaN,5.9,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861007,ISCGEM,ISCGEM,ISCGEM,Automatic
7,01/15/1965,23:17:42,-13.309,166.212,Earthquake,35.0,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861111,ISCGEM,ISCGEM,ISCGEM,Automatic
8,01/16/1965,11:32:37,-56.452,-27.043,Earthquake,95.0,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEMSUP861125,ISCGEMSUP,ISCGEM,ISCGEM,Automatic
9,01/17/1965,10:43:17,-24.563,178.487,Earthquake,565.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861148,ISCGEM,ISCGEM,ISCGEM,Automatic

In [4]:
# checking bottom ten values
df.tail(10)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
23402,12/24/2016,03:58:55,-5.1460,153.5166,Earthquake,30.00,1.8,NaN,5.8,MWW,...,NaN,14.00,1.648,7.0,0.8500,US10007MFP,US,US,US,Reviewed
23403,12/25/2016,14:22:27,-43.4029,-73.9395,Earthquake,38.00,1.9,NaN,7.6,MWW,...,NaN,29.00,0.351,6.8,0.8000,US10007MN3,US,US,US,Reviewed
23404,12/25/2016,14:32:13,-43.4810,-74.4771,Earthquake,14.93,3.3,NaN,5.6,MB,...,83.0,96.00,0.697,7.1,0.5200,US10007MNB,US,US,US,Reviewed
23405,12/27/2016,23:20:56,45.7192,26.5230,Earthquake,97.00,1.8,NaN,5.6,MWW,...,NaN,14.00,0.465,5.1,0.7800,US10007N3R,US,US,US,Reviewed
23406,12/28/2016,08:18:01,38.3754,-118.8977,Earthquake,10.80,1.3,34.0,5.6,ML,...,20.0,35.86,0.132,NaN,0.1988,NN00570709,NN,NN,NN,Reviewed
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [5]:
# checking the dataframe
type(df)

pandas.core.frame.DataFrame

In [6]:
# checking the dimension of dataframe
df.shape

(23412, 21)

In [7]:
#Checking the data type d-frame

df.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [8]:
df['Date'].reset_index()
# In case of selecting single columns reset index and show the result in data frame

       index        Date
0          0  01/02/1965
1          1  01/04/1965
2          2  01/05/1965
3          3  01/08/1965
4          4  01/09/1965
...      ...         ...
23407  23407  12/28/2016
23408  23408  12/28/2016
23409  23409  12/28/2016
23410  23410  12/29/2016
23411  23411  12/30/2016

[23412 rows x 2 columns]

In [9]:
df['Depth Error'].reset_index()

       index  Depth Error
0          0          NaN
1          1          NaN
2          2          NaN
3          3          NaN
4          4          NaN
...      ...          ...
23407  23407          1.2
23408  23408          2.0
23409  23409          1.8
23410  23410          1.8
23411  23411          2.2

[23412 rows x 2 columns]

In [10]:
# Selecting the multiple column
df[['Date','Time','Latitude','Depth']].head(5)
# customized dataframe

         Date      Time  Latitude  Depth
0  01/02/1965  13:44:18    19.246  131.6
1  01/04/1965  11:29:49     1.863   80.0
2  01/05/1965  18:05:58   -20.579   20.0
3  01/08/1965  18:49:43   -59.076   15.0
4  01/09/1965  13:32:50    11.938   15.0

In [11]:
# Checking the null values
df.isnull()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
#Check the null values at a column level
df.isnull().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [13]:
# To check max value of the Magnitude column
df['Magnitude'].max()
# Mostpowerfull earthquake is of 9.1 mag

9.1

In [14]:
# to check the mean of the magnitude column
df['Magnitude'].mean()

5.882530753459764

In [15]:
df['Magnitude'].sum()

137721.81

In [16]:
# to check the frquent accuring value
df['Magnitude'].mode()

0    5.5
Name: Magnitude, dtype: float64

In [17]:
print(' Total Null values --->',df['Magnitude Type'].isnull().sum())

 Total Null values ---> 3

In [19]:
df['Magnitude Type'].fillna(df['Magnitude Type'].mode()[0],inplace = True)

In [20]:
print(' Total Null values --->',df['Magnitude Type'].isnull().sum())

 Total Null values ---> 0

In [21]:
# finding the unique value in a column
print('Unique Values',df['Magnitude Type'].unique())
print('count of Unique Values',df['Magnitude'].nunique())

Unique Values ['MW' 'ML' 'MH' 'MS' 'MB' 'MWC' 'MD' 'MWB' 'MWW' 'MWR']
count of Unique Values 64

In [22]:
df['Type'].unique()

array(['Earthquake', 'Nuclear Explosion', 'Explosion', 'Rock Burst'],
      dtype=object)

In [25]:
df['Magnitude Type'].value_counts() # count of value

MW     7725
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: Magnitude Type, dtype: int64

In [28]:
df['Type'].value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [29]:
df['Magnitude Type'].value_counts(normalize=True)

MW     0.329959
MWC    0.242141
MB     0.160644
MWB    0.104989
MWW    0.084700
MS     0.072698
ML     0.003289
MWR    0.001111
MD     0.000256
MH     0.000214
Name: Magnitude Type, dtype: float64

In [33]:
# sort a dataframe on the basis of column value
df[['Date','Time','Latitude','Longitude','Magnitude']]

             Date      Time  Latitude  Longitude  Magnitude
0      01/02/1965  13:44:18   19.2460   145.6160        6.0
1      01/04/1965  11:29:49    1.8630   127.3520        5.8
2      01/05/1965  18:05:58  -20.5790  -173.9720        6.2
3      01/08/1965  18:49:43  -59.0760   -23.5570        5.8
4      01/09/1965  13:32:50   11.9380   126.4270        5.8
...           ...       ...       ...        ...        ...
23407  12/28/2016  08:22:12   38.3917  -118.8941        5.6
23408  12/28/2016  09:13:47   38.3777  -118.8957        5.5
23409  12/28/2016  12:38:51   36.9179   140.4262        5.9
23410  12/29/2016  22:30:19   -9.0283   118.6639        6.3
23411  12/30/2016  20:08:28   37.3973   141.4103        5.5

[23412 rows x 5 columns]

In [34]:
df[['Date','Time','Latitude','Longitude','Magnitude']].sort_values(by='Magnitude')

             Date      Time  Latitude  Longitude  Magnitude
23411  12/30/2016  20:08:28   37.3973   141.4103        5.5
4419   08/19/1977  07:38:05  -10.1920   117.4120        5.5
13282  10/31/1996  18:18:43    9.9020   126.3870        5.5
4414   08/16/1977  06:15:17  -19.2800   167.6550        5.5
13293  11/04/1996  22:54:16   43.5230  -127.3560        5.5
...           ...       ...       ...        ...        ...
21219  04/11/2012  08:38:37    2.3270    93.0630        8.6
16     02/04/1965  05:01:22   51.2510   178.7150        8.7
19928  02/27/2010  06:34:12  -36.1220   -72.8980        8.8
20501  03/11/2011  05:46:24   38.2970   142.3730        9.1
17083  12/26/2004  00:58:53    3.2950    95.9820        9.1

[23412 rows x 5 columns]

In [35]:
df[['Date','Time','Latitude','Longitude','Magnitude']].sort_values(by='Magnitude',ascending = False)

             Date      Time  Latitude  Longitude  Magnitude
20501  03/11/2011  05:46:24   38.2970   142.3730        9.1
17083  12/26/2004  00:58:53    3.2950    95.9820        9.1
19928  02/27/2010  06:34:12  -36.1220   -72.8980        8.8
16     02/04/1965  05:01:22   51.2510   178.7150        8.7
17329  03/28/2005  16:09:37    2.0850    97.1080        8.6
...           ...       ...       ...        ...        ...
9918   04/06/1990  06:17:43   15.5360   147.4630        5.5
9920   04/06/1990  14:31:46  -21.6180  -174.2130        5.5
18946  04/11/2008  05:02:53   16.1740   144.8850        5.5
18945  04/11/2008  03:16:40   16.0990   144.9580        5.5
23411  12/30/2016  20:08:28   37.3973   141.4103        5.5

[23412 rows x 5 columns]

In [36]:
# filtering the dataframe
df[df['Type'] == 'Nuclear Explosion']

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.2,31.61,16.0,5.62,ML,...,10.0,261.0,1.476,99.0,0.86,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.2,31.61,17.0,5.63,ML,...,6.0,261.0,1.438,99.0,1.03,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.4,31.61,16.0,5.52,ML,...,6.0,257.0,1.415,99.0,1.36,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.2,31.61,13.0,5.82,ML,...,8.0,268.0,1.437,99.0,0.33,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.2,31.61,16.0,5.54,ML,...,10.0,260.0,1.377,99.0,0.35,CI3325031,CI,CI,CI,Reviewed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11963,06/10/1994,06:25:58,41.527000,88.710000,Nuclear Explosion,0.0,NaN,NaN,5.80,MB,...,133.0,NaN,NaN,NaN,0.90,USP0006E1A,US,US,US,Reviewed
12142,10/07/1994,03:25:58,41.662000,88.753000,Nuclear Explosion,0.0,NaN,NaN,6.00,MB,...,138.0,NaN,NaN,NaN,0.90,USP0006KQC,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603000,88.820000,Nuclear Explosion,0.0,NaN,NaN,6.10,MB,...,175.0,NaN,NaN,NaN,1.00,USP0006XCY,US,US,US,Reviewed
12613,08/17/1995,00:59:58,41.559000,88.800000,Nuclear Explosion,0.0,NaN,NaN,6.00,MB,...,166.0,NaN,NaN,NaN,0.90,USP00071XV,US,US,US,Reviewed
13054,06/08/1996,02:55:58,41.657000,88.690000,Nuclear Explosion,0.0,NaN,NaN,5.90,MB,...,178.0,NaN,NaN,NaN,0.90,USP0007J9V,US,US,US,Reviewed

In [42]:
# dataframe using filter with '|' opertor

df[(df['Type'] == 'Nuclear Explosion') |(df['Type'] == 'Explosion')][df['Magnitude'] > 6].tail(100)

C:\Users\Admin\AppData\Local\Temp\ipykernel_9232\566236313.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[(df['Type'] == 'Nuclear Explosion') |(df['Type'] == 'Explosion')][df['Magnitude'] > 6].tail(100)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,NaN,6.3,MB,...,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,NaN,6.8,MB,...,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,NaN,6.9,MB,...,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,NaN,6.4,MB,...,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,NaN,6.7,MB,...,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
3593,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,NaN,6.4,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
3661,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,NaN,6.7,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
3663,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,NaN,6.5,MB,...,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
5198,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,NaN,6.3,MB,...,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
5234,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
5248,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
5388,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
5635,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
6061,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
6177,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
6230,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
6363,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
6613,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
6774,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
7109,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
7244,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
7322,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
8457,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
8531,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
8561,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
8795,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
8808,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
8877,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
8952,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
8989,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
9166,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
9327,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
10126,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,NaN,6.2,MB,...,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
10907,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,NaN,6.5,MB,...,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,NaN,6.1,MB,...,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed